################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/App/Debug
/App/Release
/App/x64
/App/App.vcxproj.user
/Debug
/Release
/x64
