################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/App/Debug
/App/Release
/App/x64
/App/App.vcxproj.user
/Debug
/Release
/x64
/Renderer/x64/Debug
/Renderer/Renderer.vcxproj.user
/Renderer/x64/Release
/Renderer/Release
/SimplifyCalculator/Release
/SimplifyCalculator/x64
/SimplifyCalculator/SimplifyCalculator.vcxproj.user
/Renderer/Debug
/SimplifyCalculator/Debug
/SimplifyCalculator/ids.h
/SimplifyCalculator/ribbon.bml
/SimplifyCalculator/ribbonui.rc
