################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/App/Debug
/App/Release
/App/x64
/App/App.vcxproj.user
/Debug
/Release
/x64
/Renderer/x64/Debug
/Renderer/Renderer.vcxproj.user
/Renderer/x64/Release
/Renderer/Release
/SimplifyCalculator/Release
/SimplifyCalculator/x64
/SimplifyCalculator/SimplifyCalculator.vcxproj.user
/Renderer/Debug
/SimplifyCalculator/Debug
/SimplifyCalculator/ids.h
/SimplifyCalculator/ribbon.bml
/SimplifyCalculator/ribbonui.rc
/BigInteger/Debug
/BigInteger/Release
/BigInteger/x64
/Math/Debug
/Math/Release
/Math/x64
/Math/Math.vcxproj.user
/wc/Debug
/wc/Release
/wc/x64
/wc/wc.vcxproj.user
/types/Debug
/types/Release
/types/x64
/types/types.vcxproj.user
